<section class="posts-section">

	<h1 class="title" id="top">DASHBOARD</h1>

	<ul class="tabs">

	<a href="#", class="fa fa-th"></a>
	<a href="#", class="fa fa-th-list"></a>
	
		<li>
			<input type="radio" checked name="tabs" id="tab1">
			<label for="tab1">Facbook</label>
			<div id="tab-content1" class="tab-content animated fadeIn">
				 <% if @posts %>
					 <% @posts.each do |post| %>
						<%= content_tag :div, :id => "post", :class => "float-left" do %>
							<img id="pic" src="/assets/profile-ico2.jpg">
							<h1 id="name"><%= post['from']['name'] %></h1>
							<h1 id="date" class="has_tooltip"><%= get_short_date(post['created_time']) %>
							    <span>
							    <svg viewBox="0 0 20 20" preserveAspectRatio="xMidYMid">
							    	<polygon class="fill" points="1,0 20,10 1,20"></polygon>
							    </svg>
							   		<!--img class="callout" src="/assets/callout.gif" /-->
							        <%= get_tooltip_date(post['created_time']) %>
							    </span>
						    </h1>

							<% if post['type'] == 'status' %>
								<p><%= post['message'] %></p>
							<% end %>
							<% if post['type'] == 'link' %>
							<% end %>
							<% if post['type'] == 'photo' %>
								<p><%= post['story'] %></p>

							<% end %>
							<% if post['type'] == 'video' %>
							<% end %>
						<% end %>
					 	<br>
					 <% end %>
				 <% end %>
				 <%= link_to 'Next', url_for(:page => @posts.next_page_params), :class => 'next-page' %>
			</div>
		</li>
		<li>
			<input type="radio" name="tabs" id="tab2">
			<label for="tab2">Twitter</label>
			<div id="tab-content2" class="tab-content animated fadeIn">
			...
			</div>
		</li>
	</ul>

</section>