<section class="signup-section">

	<h1 id="signup-title top">SIGN UP</h1>

	<% if not flash[:notice].blank? %> 
		<div class="invalid_notice">
			<p><%= flash[:notice] %></p>
		</div>
	<% end %>

	<%= form_for(:user, url: users_path) do |f| %>

		<%= f.text_field :name, :placeholder => "Enter your user name", :class => field_class(@user, :name) %>

		<%= f.text_field :email, :placeholder => "Enter your email address", :class => field_class(@user, :email) %>

		<span class="email-icon"></span>

		<%= f.password_field :password, :placeholder => "Enter your password", :class => field_class(@user, :password) %>

		<%= f.password_field :password_confirmation, :placeholder => "Cofnirm your password", :class => field_class(@user, :password_confirmation) %>

		<span class="password-icon"></span>

		<%= f.submit "SIGN UP", :class => "signup-button" %>
    <% end %>

    <% if @user.errors.any? %>
      <ul id="error_explanation">
        <% for message in @user.errors.full_messages %>
        <li><%= message %></li>
        <% end %>
      </ul>
    <% end %>

	<div class="social-signup">
		<div class="signup-fb facebook-btn">
			<%= link_to "Sign up with Facebook", "/auth/facebook" %>
			<i class="fa fa-facebook-square"></i>
		</div>
		<div class="signup-twitter twitter-btn">
			<%= link_to "Sign up with Twitter", "/auth/facebook" %>
			<i class="fa fa-twitter-square"></i>
		</div>
	</div

</section>